#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
     width: 100px;
    height: 100px;
    background-image: url("../img/loader.png");
    z-index: 1500;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotateY(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotateY(0deg);  /* IE 9 */
        transform: rotateY(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotateY(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotateY(360deg);  /* IE 9 */
        transform: rotateY(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotateY(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotateY(0deg);  /* IE 9 */
        transform: rotateY(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotateY(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotateY(360deg);  /* IE 9 */
        transform: rotateY(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}
#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}
.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle:hover {
     background: transparent !important;
 }

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.collapsed{
    border: #431e00;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}



.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #431e00;
    color: white;
    padding: 0% 0%;
    font-size: 1.2em;
    border: 0;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
.first-container{
    background-color: rgba(140,140,140,0.2);
    width: 100%;
    color: #431e00;
}
.center{
    text-align: center
}

.navbar-default .navbar-nav > li > a {
    color:  #CC996e;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background: #251000;
}
.cim{
    margin-top: 0;
    margin-bottom: 3vw;
    background-repeat: no-repeat;
    color: #CC996e;
}
.left{
    text-align: left;
}
.error{
    font-size: 2vw;
}
.margin{
    margin-top: 3%
}
.bigFont{
    font-size: 1.5vw
}
.myButton{
    background-color: #431e00;
     border-color: #431e00
}
.fullWidth{
    width: 100%;
}
.data{
    color: #431e00;
    text-align: center
}
.text{
    color: #CC996e;
    margin-top: 0;
    padding-top: 20px;
}
.adat{
    margin-top: 0.5vw;
    background-repeat: no-repeat;
    color: white;
    font-size: x-large;
    line-height: 3.5vw;
}
.end{
    text-align: center;
    background-color: #431e00;
    margin: 0;
    height: 15.5vw;
}


.wrapper {
    background-image: url(../img/book2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 50vh;
    min-height: 30vw;
}
.logo{
    position: absolute;
    top: 0;
    left: 35%;
    width: 30%;
    height: 48vh;
    min-height: 30vw;

}
.logo1{
    width: 50%;
}
.row{
    margin-top: 1.3vw;
}
.brown{
    background: #431e00;
}
.img{
    width: 60%;
     margin-left: 20%
}
.margin-top{
    margin-top: 5vw
}
.szoveg{
    color: #431e00;
    font-size: 2.3vw;
     text-align: left;
}

/* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 400px) {
        .logo {
            left: 10%;
            width: 60%;
        }

        .wrapper{

        }
        .logo1{
            width: 25%;
        }
        .adat{
            margin-top: 0vw;
            background-repeat: no-repeat;
            font-size: medium;
            line-height: 6vw;
        }
        #up{
            line-height: 5vw;
        }
        .end{
            text-align: center;
            background-color: #431e00;
            margin: 0;
            height: 25vw;
        }
    }
@media only screen and (max-width: 600px) {
    .logo {
        left: 15%;
        width: 70%;
    }
    .szoveg3{
        font-size: 5vw!important;
    }
    .szoveg4{
        font-size: 5vw!important;
    }
    .logo1{
        width: 35%;
    }
    #up{
        line-height: 5vw;
    }
    .end{
        text-align: center;
        background-color: #431e00;
        margin-top:-1%;
        height: 35vw;
        padding-bottom: 1%
    }
    .adat{
        background-repeat: no-repeat;
        font-size: medium;
        line-height: 6vw;
    }
}

    /* Small devices (portrait tablets and large phones, 600px and up) */


    @media only screen and (min-width: 600px) {
        .logo {
            left: 20%;
            width: 60%;
        }
        .logo1{
            width: 25%;
        }
        .adat{
            margin-top: 0vw;
            background-repeat: no-repeat;
            font-size: medium;
            line-height: 6vw;
        }
        #up{
            line-height: 7vw;
        }
        .end{
            text-align: center;
            background-color: #431e00;
            margin: 0;
            height: 25vw;
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .logo {
            left: 15%;
            width: 70%;
        }
        .logo1{
            width: 20%;
        }
        .adat{
            margin-top: 0vw;
            background-repeat: no-repeat;
            font-size: medium;
            line-height: 5vw;
        }
        #up{
            line-height: 5vw;
        }
        .end{
            text-align: center;
            background-color: #431e00;
            margin: 0;
            height: 20vw;
        }

        .wrapper{

        }
    }


    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .logo {
            left: 25%;
            width: 50%;
        }
        .logo1{
            width: 50%;
        }
        .adat{
            margin-top: 0vw;
            background-repeat: no-repeat;
            font-size: large;
            line-height: 4vw;
        }
        #up{
            line-height: 3.2vw;
        }
        .end{
            text-align: center;
            background-color: #431e00;
            margin: 0;
            height: 17vw;
        }

        .wrapper{

        }
    }


    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .adat{
            margin-top: 1.5vw;
            background-repeat: no-repeat;
        }

        .end{
            text-align: center;
            background-color: #431e00;
            margin: 0;
            height: 18.5vw;
        }
        .wrapper{

        }
    }
    @media only screen and (min-width: 1400px) {
        .logo {
            left: 25%;
        }
        .logo1{
            width: 50%;
        }
        .adat{
            margin-top: 0vw;
            background-repeat: no-repeat;
            font-size: x-large;
            line-height: 4vw;
        }
        #up{
            line-height: 3.2vw;
        }
        .end{
            text-align: center;
            background-color: #431e00;
            margin: 0;
            height: 17vw;
        }
        .wrapper{

        }
    }
    @media only screen and (min-width: 2000px) {
        .logo1{
            width: 50%;

        }
        .adat{
            margin-top: 0vw;
            background-repeat: no-repeat;
            font-size: xx-large;
            line-height: 4vw;
        }
        #up{
            line-height: 4vw;
        }
        .end{
            text-align: center;
            background-color: #431e00;
            margin: 0;
            height: 17vw;
        }
        .wrapper{

        }
        .navbar {
            min-height: 80px;
        }
        .navbar-toggle {
            /* (80px - button height 34px) / 2 = 23px */
            margin-top: 23px;
            padding: 9px 10px ;
        }
        .navbar-nav > li > a {
            /* (80px - line-height of 27px) / 2 = 26.5px */
            padding-top: 26.5px;
            padding-bottom: 26.5px;
            line-height: 27px;
            font-size: xx-large;
        }

    }
	/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/